@page "/CarListings"
<h3>Car Listings</h3>
<br>

<table class="table">
    <thead>
    <tr>
        <th>Car</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Price/day</th>
        <th>Location</th>
        <th>Book</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Car</td>
        <td>Type</td>
        <td>Owner</td>
        <td>Price/day</td>
        <td>Location</td>
        <td>
            @* do onclick! *@
            <button>
                <i class="oi oi-book"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>

@code {
}