@page "/ListingRegister"
@using System.ComponentModel
@using System.Runtime.Intrinsics.Arm
@using CarSharing_Client.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Mvc.RazorPages






<EditForm Model="_listing"  OnValidSubmit="AddListing" >
    <div class="form-row">
        <div class="form-group col-md-5">
            <label>Date from </label>
            <InputDate  class="form-control" placeholder="@DateTime.Now" @bind-Value="_listing.DateFrom"> </InputDate>
        </div>
        <div class="form-group col-md-5">
            <label >Date to</label>
            <InputDate  class="form-control" placeholder="@DateTime.Now" @bind-Value="_listing.DateTo"> </InputDate>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-5">
            <label >Price</label>
            <InputNumber  class="form-control" placeholder="230" @bind-Value="_listing.Price"> </InputNumber>
        </div>
        
        <div class="form-group col-md-5">
            <label >Location</label>
            <InputText type="text" class="form-control" placeholder="Horsens" @bind-Value="_listing.Location"> </InputText>
        </div>
        
        
    </div>
    
    @*TODO by tomas implement real vehicle retrieval from the system once the user is implemented *@
    <div class="form-row">
    <div class="form-group col-md-5">
        <label >Select which car you wold like to rent</label>
        <select @bind="car" class="form-control" >
            <option value="bmw 7">bmw 7</option>
            <option value="bmw 5">bmw 5</option>
            <option value="bmw m4">bmw m4</option>
            <option value="bmw m5">bmw m5</option>
        </select>
                    
    </div>
    </div>
    
   
    
    <div class="col-4 ml-2 mt-4">
        <p class="actions">
            <button class="btn btn-outline-dark " type="submit">Rent vehicle</button>
        </p>
    </div>
    
 <DataAnnotationsValidator/>
    <ValidationSummary/>
    
</EditForm>

@code {

    private readonly Listing _listing = new()
    {
        ListedDate = DateTime.Now,
        //Vehicle = 
    };

    private string car = "";

    public async Task AddListing()
    {
        Console.WriteLine(_listing.DateFrom);
        Console.WriteLine(_listing.DateTo);
        Console.WriteLine(_listing.Price);
        Console.WriteLine(_listing.Location);
        Console.WriteLine(car);
        
       
    }

}