@page "/ListingRegister/{PassedLicenceNo}"
@using CarSharing_Client.Data
@using CarSharing_Client.Models
@using Microsoft.AspNetCore.Components
@inject IListingService _listingService
@inject IVehicleService _vehicleService






<EditForm Model="_listing"  OnValidSubmit="AddListing" >
    <div class="form-row">
        <div class="form-group col-md-5">
            <label>Date from </label>
            <InputDate  class="form-control" placeholder="@DateTime.UtcNow" @bind-Value="_listing.DateFrom"> </InputDate>
        </div>
        <div class="form-group col-md-5">
            <label >Date to</label>
            <InputDate  class="form-control" placeholder="@DateTime.UtcNow" @bind-Value="_listing.DateTo"> </InputDate>
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col-md-5">
            <label >Price</label>
            <InputNumber  class="form-control" placeholder="230" @bind-Value="_listing.Price"> </InputNumber>
        </div>
        
        <div class="form-group col-md-5">
            <label >Location</label>
            <InputText type="text" class="form-control" placeholder="Horsens" @bind-Value="_listing.Location"> </InputText>
        </div>
        
    </div>
    
    <div class="col-4 ml-2 mt-4">
        <p class="actions">
            <button class="btn btn-outline-dark " type="submit">Rent vehicle</button>
        </p>
    </div>
    
 <DataAnnotationsValidator/>
    <ValidationSummary/>
    
</EditForm>

@code {

    private readonly Listing _listing = new()
    {
        ListedDate = DateTime.UtcNow,
        DateFrom = DateTime.UtcNow,
        DateTo = DateTime.UtcNow.AddDays(7)
    };
    
    [Parameter]
    public string PassedLicenceNo { get; set; }
    
    

    public async Task AddListing()
    {
        Console.WriteLine(_listing.DateFrom);
        Console.WriteLine(_listing.DateTo);
        Console.WriteLine(_listing.Price);
        Console.WriteLine(_listing.Location);
        Console.WriteLine(PassedLicenceNo);
        
        
        //TODO by Tomas switch this duplicit database load for a cache retrieval
        _listing.Vehicle = await _vehicleService.GetVehicleAsync(PassedLicenceNo);
        
       
        await _listingService.AddListingAsync(_listing);





    }

}