@page "/"

 <div class="form-group" style="display: flex; justify-content: center">
 <h3> Welcome to the car sharing! </h3>
  </div>
     @* <AuthorizeView> @*TODO outcomment authorization policies
     <NotAuthorized> *@
      <div class="form-group" style="display: flex; justify-content: center">
        Please proceed with⠀<a href="/login">login</a>!  
        </div>
       @*   </NotAuthorized>
 </AuthorizeView> *@