@page "/vehicle-register"
@using CarSharing_Client.Models
@using CarSharing_Client.Data
@using CarSharing_Client.Components
@using CarSharing_Client.Authentication
@using Microsoft.Extensions.Caching.Memory
@inject IVehicleService _vehicleService;
@inject NavigationManager _navigationManager; 
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IMemoryCache _memoryCache

<h3>Register a new vehicle to your fleet</h3>

<VehicleForm Vehicle="@_car" SubmitHandler="AddVehicle" CancelHandler="Cancel" ErrorMessage="@_errorMessage"/>


@code {

    private string _errorMessage = "";

    private readonly Vehicle _car = new()
    {
        Transmission = "Automatic",
        FuelType = "Petrol",
        Seats = 5,
        Type = "Sedan",
        IsApproved = false
    };

    private async Task AddVehicle()
    {
        try
        {
            _errorMessage = "";
            _car.Owner = ((CustomAuthenticationStateProvider) _authenticationStateProvider).CachedCustomer;
            await _vehicleService.AddVehicleAsync(_car);

            if (_memoryCache.TryGetValue(_car.Owner.Cpr, out IList<Vehicle> cacheVehicles))
            {
                cacheVehicles.Add(_car);
            }


            _navigationManager.NavigateTo("/view-vehicles");
        }
        catch (Exception e)
        {
            _errorMessage = e.Message;
        }
    }

    private void Cancel()
    {
        _navigationManager.NavigateTo("/view-vehicles");
    }

}